{% extends 'base.html' %}
{% block title %}
Get your agreement
{% endblock title %}


{% block head %}
<span class="flex-container">
    <div class="container">
      <strong>
      <ul>Rent Agreement
        Get your rental agreement made with just a click
        <li>            
          Help us know you better by filling your basic Details
        </li>
        <li>        
          Landlord Details
        </li>
        <li>    
          Tenant Details
        </li>
        <li>        
          Property Details
        </li>
        <li>        
          Contract Details
        </li>
        <li>        
          Item List
        </li>
      </ul>
    </strong>
    </div>
    <div class="container">
      <h1> Enter Basic Details</h1>
        <form action="/{{request_id}}/basicdetails/" method="post">  {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name= "fullname" id="fullname" value="{{request_data.fullname}}" placeholder="Full Name" required>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name= "phoneNumber" id="phoneNumber" value="{{request_data.phoneNumber}}" placeholder="Phone Number" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name= "emailId" id="emailId" value="{{request_data.emailId}}" placeholder="E-mail Id" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">State</label>
            <select class="form-control" name= "state" id="state" required>
              {% for state in states %}
              <option value="{{ state }}" {% if state == request_data.state %}selected="selected"{% endif %}>{{ state }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" value="{{ request_data.city }}" readonly>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Stamp</label>
            <select class="form-control" name= "stamp" id="stamp" required>
              <option value="100" {% if request_data.stamp == "100" %}selected{% endif %}>₹100</option>
              <option value="500" {% if request_data.stamp == "500" %}selected{% endif %}>₹500</option>
              <option value="1000" {% if request_data.stamp == "1000" %}selected{% endif %}>₹1000</option>
            </select>
          </div>
          <div class="form-group">
            <label for="requester" name= "designation">I am a/an</label>
            <select class="form-control" name= "requester" id="requester" value="{{request_data.requester}}" required>
              <option value="tenant">Tenant</option>
              <option value="owner">Owner</option>
            </select>
          </div>
          
          <button type="submit" class="btn btn-primary" name= "btn">Next, Add Landlord Details</button>

        </form>
        
      
    </div>
</span>

{% endblock head %}