{% extends 'base.html' %}
{% block title %}
Get your agreement
{% endblock title %}


{% block head %}
<script>
  document.onreadystatechange = function () {
     if (document.readyState == "complete") {
      $('.datetimepicker').datepicker();
  }
}
</script>
<span class="flex-container">
    <div class="container">
      <ul>Rent Agreement
        Get your rental agreement made with just a click
        <li>            
          Help us know you better by filling your basic Details
        </li>
        <li>        
          Landlord Details
        </li>
        <li>    
          Tenant Details
        </li>
        <li>        
          Property Details
        </li>
        <li>        
          Contract Details
        </li>
        <li>        
          Item List
        </li>
      </ul>
    </div>
    <div class="container">
      <h1>Contract Details</h1>
        <form action="/{{request_id}}/contractdetails/" method="post"> 
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Next, Upload Documents</button>

        </form>
        
      
    </div>
</span>

{% endblock head %}