{% extends 'base.html' %}
{% block title %}
Tenant Details
{% endblock title %}


{% block head %}
<h1>Document Uploaded</h1>
  <p>Your document has been uploaded successfully.</p>


<div class="container">
  <form action="/{{request_id}}/rentagreement/" method="post"> {% csrf_token %}
    <button class="button"> Get the Rent Agreement</button>
  </form>
</div>
  {% endblock %}
