{% extends 'base.html' %}
{% block title %} Landlord details {% endblock title%}
{% block head %}
<style>
  .hide {
    display: none;
  }
</style>

<script>
  function showSectionWithId(landlordId) {
    document.getElementById(landlordId + "-container").classList.remove("hide");
    document.getElementById("add-"+ landlordId).classList.add("hide");
    landlordCount = landlordId.charAt(landlordId.length-1);
    ele = document.getElementById("remove-landlord" + (parseInt(landlordCount) - 1))
    if(ele){
      ele.classList.add("hide");
    }

  }

  function hideSectionWithId(landlordId) {
    document.getElementById(landlordId + '-fullname').value = "";
    document.getElementById(landlordId + '-fathername').value = "";
    document.getElementById(landlordId + '-phonenumber').value = "";
    document.getElementById(landlordId + '-address').value = "";
    document.getElementById(landlordId + '-emailid').value = "";
    document.getElementById(landlordId + '-pancard').value = "";

    document.getElementById(landlordId + "-container").classList.add("hide");

    landlordCount = landlordId.charAt(landlordId.length-1);
    document.getElementById("add-"+ landlordId).classList.remove("hide");
    ele = document.getElementById("remove-landlord" + (parseInt(landlordCount) - 1))
    if(ele){
      ele.classList.remove("hide");
    }

  }
</script>

<span class="flex-container">
  <div class="container">
    <ul>
      Rent Agreement Get your rental agreement made with just a click
      <li>Help us know you better by filling your basic Details</li>
      <li>Landlord Details</li>
      <li>Tenant Details</li>
      <li>Property Details</li>
      <li>Contract Details</li>
      <li>Item List</li>
    </ul>
  </div>
  <div class="container">
    <h1>Landlord Details</h1>

    <form action="/{{request_id}}/landlorddetails/" method="post">
      {% csrf_token %}
      <div id="landlord1-container">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord1-fullname"
            name="landlord1_fullname"
            value="{{request_data.landlord1_fullname}}"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord1-fathername"
            name="landlord1_fathername"
            value="{{request_data.landlord1_fathername}}"
            placeholder="Father's /Mother's name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="landlord1-phonenumber"
            name="landlord1_phonenumber"
            value="{{request_data.landlord1_phonenumber}}"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord1-address"
            name="landlord1_address"
            value="{{request_data.landlord1_address}}"
            placeholder="Permanent Address"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="landlord1-emailid"
            name="landlord1_emailid"
            value="{{request_data.landlord1_emailid}}"
            placeholder="E-mail Id"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="landlord1-pancard"
            name="landlord1_pancard"
            value="{{request_data.landlord1_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-owner"
          id="add-landlord2"
          onclick="showSectionWithId('landlord2')"
        />
        <br /><br />
      </div>
      <div id="landlord2-container" class="hide">
        <div class="form-group">
          <label>Landlord 2: Fill the details of co-owner</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord2-fullname"
            name="landlord2_fullname"
            value="{{request_data.landlord2_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord2-fathername"
            name="landlord2_fathername"
            value="{{request_data.landlord2_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="landlord2-phonenumber"
            name="landlord2_phonenumber"
            value="{{request_data.landlord2_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord2-address"
            name="landlord2_address"
            value="{{request_data.landlord2_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="landlord2-emailid"
            name="landlord2_emailid"
            value="{{request_data.landlord2_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="landlord2-pancard"
            name="landlord2_pancard"
            value="{{request_data.landlord2_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-owner"
          id="add-landlord3"
          onclick="showSectionWithId('landlord3')"
        />
        <input
          type="button"
          value="Remove Co-owner 2"
          id="remove-landlord2"
          onclick="hideSectionWithId('landlord2')"
        />
        <br /><br />
      </div>

      <div id="landlord3-container" class="hide">
        <div class="form-group">
          <label>Landlord 3: Fill the details of co-owner</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord3-fullname"
            name="landlord3_fullname"
            value="{{request_data.landlord3_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord3-fathername"
            name="landlord3_fathername"
            value="{{request_data.landlord3_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="landlord3-phonenumber"
            name="landlord3_phonenumber"
            value="{{request_data.landlord3_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord3-address"
            name="landlord3_address"
            value="{{request_data.landlord3_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="landlord3-emailid"
            name="landlord3_emailid"
            value="{{request_data.landlord3_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="landlord3-pancard"
            name="landlord3_pancard"
            value="{{request_data.landlord3_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-owner"
          id="add-landlord4"
          onclick="showSectionWithId('landlord4')"
        />
        <input
          type="button"
          value="Remove Co-owner 3"
          id="remove-landlord3"
          onclick="hideSectionWithId('landlord3')"
        />
        <br /><br />
      </div>
      <div id="landlord4-container" class="hide">
        <div class="form-group">
          <label>Landlord 4: Fill the details of co-owner</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord4-fullname"
            name="landlord4_fullname"
            value="{{request_data.landlord4_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord4-fathername"
            name="landlord4_fathername"
            value="{{request_data.landlord4_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="landlord4-phonenumber"
            name="landlord4_phonenumber"
            value="{{request_data.landlord4_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord4-address"
            name="landlord4_address"
            value="{{request_data.landlord4_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="landlord4-emailid"
            name="landlord4_emailid"
            value="{{request_data.landlord4_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="landlord4-pancard"
            name="landlord4_pancard"
            value="{{request_data.landlord4_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-owner"
          id="add-landlord5"
          onclick="showSectionWithId('landlord5')"
        />
        <input
          type="button"
          value="Remove Co-owner 4"
          id="remove-landlord4"
          onclick="hideSectionWithId('landlord4')"
        />
        <br /><br />
      </div>

      <div id="landlord5-container" class="hide">
        <div class="form-group">
          <label>Landlord 5: Fill the details of co-owner</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord5-fullname"
            name="landlord5_fullname"
            value="{{request_data.landlord5_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord5-fathername"
            name="landlord5_fathername"
            value="{{request_data.landlord5_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="landlord5-phonenumber"
            name="landlord5_phonenumber"
            value="{{request_data.landlord5_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="landlord5-address"
            name="landlord5_address"
            value="{{request_data.landlord5_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="landlord5-emailid"
            name="landlord5_emailid"
            value="{{request_data.landlord5_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="landlord5-pancard"
            name="landlord5_pancard"
            value="{{request_data.landlord5_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="Remove Co-owner 5"
          id="remove-landlord5"
          onclick="hideSectionWithId('landlord5')"
        />

      </div>
      <button type="submit" class="btn btn-primary">
        Next, Add Tenant Details
      </button>
    </form>
  </div>
</span>

{% endblock head %}
