{% extends 'base.html' %}
{% block title %}
Get your agreement
{% endblock title %}


{% block head %}
<span class="flex-container">
    <div class="container">
      <ul>Rent Agreement
        Get your rental agreement made with just a click
        <li>            
          Help us know you better by filling your basic Details
        </li>
        <li>        
          Landlord Details
        </li>
        <li>    
          Tenant Details
        </li>
        <li>        
          Property Details
        </li>
        <li>        
          Contract Details
        </li>
        <li>        
          Item List
        </li>
      </ul>
    </div>
    <div class="container">
      <h1>Property Details</h1>
        <form action="/{{request_id}}/propertydetails/" method="post"> {% csrf_token %}
          <div class="form-group">
            <br>
            <input type="number" name="number_of_floors" placeholder="Floor number">
            
          </div>
          <div class="form-group">
            
            <input type="text" name="bhk" placeholder="1RK/1BHK/1.5BHK/2BHK/2.5BHK/3BHK/3.5BHK/4BHK">
           
          </div>
          
          <input type="text" class="form-control"
          id="property-house-number" name="property_house_number" value="{{request_data.property_house_number}}" placeholder="House number">
          <input type="text" class="form-control" id="property-address" name="property_address" value="{{request_data.property_address}}" placeholder="Property Address">
          <input type="text" class="form-control" id="propery-locality" name="property_locality" value="{{request_data.property_locality}}"
          placeholder="Locality">
          <input type="number" class="form-control" id="propery-pincode" name="property_pincode" value="{{request_data.property_pincode}}" placeholder="Pincode">
         
          <button type="submit" class="btn btn-primary">Next, Add Contract Details</button>

        </form>
        
      
    </div>
</span>

{% endblock head %}