<!-- rent_agreement_template.html -->
{% extends 'base.html' %}
{% block title %}
Rent Agreement
{% endblock title %}



{% block head %}

    <h1>House Rent Agreement</h1>
    <h2>Parties</h2>
    <p>
        This House Rent Agreement is made between:
    </p>
    <p>
        <strong>Landlord:</strong> {{ landlord1_fullname }}, residing at {{ landlord1_address }}
    </p>
    <p>
        <strong>Tenant:</strong> {{ tenant1_fullname }}, residing at {{ tenant1_address }}
    </p>

    <h2>Property</h2>
    <p>
        The Landlord hereby rents to the Tenant the property located at {{ property_address }} (the "Property") for the duration of this Agreement.
    </p>

    <h2>Term</h2>
    <p>
        The term of this Agreement shall be for a period of {{ duration }} commencing on {{ agreement_start_date }} and ending on {{ end_date }}.
    </p>

    <h2>Rent</h2>
    <p>
        The Tenant agrees to pay a monthly rent of {{ rent_amount }} on or before the {{ due_date }} of each month. Rent shall be paid by {{ payment_method }}.
    </p>

    <h2>Security Deposit</h2>
    <p>
        The Tenant shall provide a security deposit of {{ deposit_amount }} to the Landlord upon signing this Agreement. The security deposit will be returned to the Tenant within {{ rent_agreement.return_period }} after the termination of this Agreement, subject to deductions for any unpaid rent or damages to the Property.
    </p>
    <form action="/{{request_id}}/downloadpdf/" method="post"> {% csrf_token %}
        <button>Download PDF</button><br>
        <strong>The Landlord and the tenant will sign the agreement and then upload the rent agreement</strong><br>
        <button>Upload Rent Agreement</button><br>
        <strong>After uploading the agreement, pay 599/- to get the e-copy of the rent agreement</strong><br>
        <button>Pay 599/-</button><br>
    </form>

    <!-- Include other sections of the rent agreement template -->

{% endblock head%}

