{% extends 'base.html' %}
{% block title %} Tenant details {% endblock title%}
{% block head %}
<style>
  .hide {
    display: none;
  }
</style>

<script>
  function showSectionWithId(tenantId) {
    document.getElementById(tenantId + "-container").classList.remove("hide");
    document.getElementById("add-"+ tenantId).classList.add("hide");
    tenantCount = tenantId.charAt(tenantId.length-1);
    ele = document.getElementById("remove-tenant" + (parseInt(tenantCount) - 1))
    if(ele){
      ele.classList.add("hide");
    }

  }

  function hideSectionWithId(tenantId) {
    document.getElementById(tenantId).value = "";
    document.getElementById(tenantId + '-fathername').value = "";
    document.getElementById(tenantId + '-phonenumber').value = "";
    document.getElementById(tenantId + '-address').value = "";
    document.getElementById(tenantId + '-emailid').value = "";
    document.getElementById(tenantId + '-pancard').value = "";

    document.getElementById(tenantId + "-container").classList.add("hide");

    tenantCount = tenantId.charAt(tenantId.length-1);
    document.getElementById("add-"+ tenantId).classList.remove("hide");
    ele = document.getElementById("remove-tenant" + (parseInt(tenantCount) - 1))
    if(ele){
      ele.classList.remove("hide");
    }

  }
</script>

<span class="flex-container">
  <div class="container">
    <ul>
      Rent Agreement Get your rental agreement made with just a click
      <li>Help us know you better by filling your basic Details</li>
      <li>Landlord Details</li>
      <li>Tenant Details</li>
      <li>Property Details</li>
      <li>Contract Details</li>
      <li>Item List</li>
    </ul>
  </div>
  <div class="container">
    <h1>Tenant Details</h1>

    <form action="/{{request_id}}/tenantdetails/" method="post">
      {% csrf_token %}
      <div id="tenant1-container">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant1-fullname"
            name="tenant1_fullname"
            value="{{request_data.tenant1_fullname}}"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant1-fathername"
            name="tenant1_fathername"
            value="{{request_data.tenant1_fathername}}"
            placeholder="Father's /Mother's name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="tenant1-phonenumber"
            name="tenant1_phonenumber"
            value="{{request_data.tenant1_phonenumber}}"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant1-address"
            name="tenant1_address"
            value="{{request_data.tenant1_address}}"
            placeholder="Permanent Address"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="tenant1-emailid"
            name="tenant1_emailid"
            value="{{request_data.tenant1_emailid}}"
            placeholder="E-mail Id"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="tenant1-pancard"
            name="tenant1_pancard"
            value="{{request_data.tenant1_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-tenant"
          id="add-tenant2"
          onclick="showSectionWithId('tenant2')"
        />
        <br /><br />
      </div>
      <div id="tenant2-container" class="hide">
        <div class="form-group">
          <label>Tenant 2: Fill the details of co-tenant</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant2-fullname"
            name="tenant2_fullname"
            value="{{request_data.tenant2_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant2-fathername"
            name="tenant2_fathername"
            value="{{request_data.tenant2_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="tenant2-phonenumber"
            name="tenant2_phonenumber"
            value="{{request_data.tenant2_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant2-address"
            name="tenant2_address"
            value="{{request_data.tenant2_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="tenant2-emailid"
            name="tenant2_emailid"
            value="{{request_data.tenant2_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="tenant2-pancard"
            name="tenant2_pancard"
            value="{{request_data.tenant2_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-tenant"
          id="add-tenant3"
          onclick="showSectionWithId('tenant3')"
        />
        <input
          type="button"
          value="Remove Co-tenant 2"
          id="remove-tenant2"
          onclick="hideSectionWithId('tenant2')"
        />
        <br /><br />
      </div>

      <div id="tenant3-container" class="hide">
        <div class="form-group">
          <label>Tenant 3: Fill the details of co-tenant</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant3-fullname"
            name="tenant3_fullname"
            value="{{request_data.tenant3_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant3-fathername"
            name="tenant3_fathername"
            value="{{request_data.tenant3_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="tenant3-phonenumber"
            name="tenant3_phonenumber"
            value="{{request_data.tenant3_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant3-address"
            name="tenant3_address"
            value="{{request_data.tenant3_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="tenant3-emailid"
            name="tenant3_emailid"
            value="{{request_data.tenant3_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="tenant3-pancard"
            name="tenant3_pancard"
            value="{{request_data.tenant3_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-tenant"
          id="add-tenant4"
          onclick="showSectionWithId('tenant4')"
        />
        <input
          type="button"
          value="Remove Co-tenant 3"
          id="remove-tenant3"
          onclick="hideSectionWithId('tenant3')"
        />
        <br /><br />
      </div>
      <div id="tenant4-container" class="hide">
        <div class="form-group">
          <label>Tenant 4: Fill the details of co-tenant</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant4-fullname"
            name="tenant4_fullname"
            value="{{request_data.tenant4_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant4-fathername"
            name="tenant4_fathername"
            value="{{request_data.tenant4_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="tenant4-phonenumber"
            name="tenant4_phonenumber"
            value="{{request_data.tenant4_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant4-address"
            name="tenant4_address"
            value="{{request_data.tenant4_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="tenant4-emailid"
            name="tenant4_emailid"
            value="{{request_data.tenant4_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="tenant4-pancard"
            name="tenant4_pancard"
            value="{{request_data.tenant4_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="+ Add Co-tenant"
          id="add-tenant5"
          onclick="showSectionWithId('tenant5')"
        />
        <input
          type="button"
          value="Remove Co-tenant 4"
          id="remove-tenant4"
          onclick="hideSectionWithId('tenant4')"
        />
        <br /><br />
      </div>

      <div id="tenant5-container" class="hide">
        <div class="form-group">
          <label>Tenant 5: Fill the details of co-tenant</label>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant5-fullname"
            name="tenant5_fullname"
            value="{{request_data.tenant5_fullname}}"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant5-fathername"
            name="tenant5_fathername"
            value="{{request_data.tenant5_fathername}}"
            placeholder="Father's /Mother's name"
          />
        </div>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            id="tenant5-phonenumber"
            name="tenant5_phonenumber"
            value="{{request_data.tenant5_phonenumber}}"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="tenant5-address"
            name="tenant5_address"
            value="{{request_data.tenant5_address}}"
            placeholder="Permanent Address"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="tenant5-emailid"
            name="tenant5_emailid"
            value="{{request_data.tenant5_emailid}}"
            placeholder="E-mail Id"
          />
        </div>
        <div class="form-group">
          <input
            type="varchar"
            class="form-control"
            id="tenant5-pancard"
            name="tenant5_pancard"
            value="{{request_data.tenant5_pancard}}"
            placeholder="PAN CARD (optional)"
          />
        </div>
        <input
          type="button"
          value="Remove Co-tenant 5"
          id="remove-tenant5"
          onclick="hideSectionWithId('tenant5')"
        />

      </div>
      <button type="submit" class="btn btn-primary">
        Next, Add Tenant Details
      </button>
    </form>
  </div>
</span>

{% endblock head %}