{% extends 'base.html' %}
{% block title %}
Tenant Details
{% endblock title %}


{% block head %}
<span class="flex-container">
    <div class="container">
      <ul>Rent Agreement
        Get your rental agreement made with just a click
        <li>            
          Help us know you better by filling your basic Details
        </li>
        <li>        
          Landlord Details
        </li>
        <li>    
          Tenant Details
        </li>
        <li>        
          Property Details
        </li>
        <li>        
          Contract Details
        </li>
        <li>        
          Item List
        </li>
      </ul>
    </div>
    <div class="container">
        <h1>Upload Documents</h1>
        <p> Kindly upload the following documents(pdf, jpeg, jpg, png only):</p>
           
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        
      
</div>
</span>

{% endblock head %}